[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:$HOME/.cargo/bin
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/home/beto0607/.cargo/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/sh -c 'kanata --cfg $${HOME}/Personal/scripts/config/kanata/kanata.kbd'
Restart=no

[Install]
WantedBy=default.target

